{% if module.highlight %}
<div class="blog-highlights p-6 mb-[60px] rounded-xl border border-[#2A7991]" style="background: rgba(156, 212, 214, 0.10);">
	<p class="text-2xl font-bold mb-3">Key Highlights</p>
  <ul>
    {% for highlight in module.highlight %}
    <li><strong><span style="font-size: 30px;">{{highlight.highlight_stat}}</span><br></strong>{{highlight.highlight_text}}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% require_css %}
<style>
  {% scope_css %}
  .blog-highlights ul {
		list-style: none;
		margin-top: 0;
	}

	.blog-highlights ul li {
		line-height: 24px;
		margin-bottom: 16px;
		padding-left: 20px;
		position: relative;
	}

	.blog-highlights ul li:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 10px;
		width: 8px;
		height: 100%;
		background: #84CFA4;
	}
  {% end_scope_css %}
</style>
{% end_require_css %}