<!--
templateType: blog_listing
isAvailableForNewContent: true
label: Blog Listing
-->
{% set current_tag = tag %}
{% set blog_tags = blog_tags("default", 250) %}
{% macro ct_label(ct_name, ct_color, is_active) %}
{% set tag_class = ct_name|replace(" ","-") %}
<div class="flex md:h-[57px] items-center mb-3 rounded-lg {% if is_active %} category-{{tag_class}} {% else %} bg-transparent md:bg-[#FFF4E3] {% endif %}">
      <div class="flex items-center h-full">
        <div class="h-full{%if is_active%} hidden md:block{%endif%}">
          <div class="w-[15px] h-[15px] md:h-full rounded-full {% if !is_active %} category-{{tag_class}} {% endif %}"></div>
        </div>

        <div class="{%if is_active%}px-3{%else%}px-1 md:px-3{%endif%}">
            <p class="m-0 font-bold leading-tight text-[16px]">{{ ct_name }}</p>
        </div>
      </div>
    </div>
{%- endmacro %}

{% extends "../layouts/base.html" %}

{% block body %}
{% if blog_author %}
<div class="blog-header">
	<div class="blog-header__inner">
		{% if blog_author.avatar %}
		<div class="blog-header__author-avatar" style="background-image: url('{{ blog_author.avatar }}');"></div>
		{% endif %}
		<h1 class="blog-header__title">{{ blog_author.display_name }}</h1>
		<h4 class="blog-header__subtitle">{{ blog_author.bio }}</h4>
		{% if blog_author.has_social_profiles %}
		<div class="blog-header__author-social-links">
			{% if blog_author.website %}
			<a href="{{ blog_author.website }}" target="_blank">
				{% icon name="link" style="SOLID" width="10" %}
			</a>
			{% endif %}
			{% if blog_author.facebook %}
			<a href="{{ blog_author.facebook }}" target="_blank">
				{% icon name="facebook-f" style="SOLID" width="10" %}
			</a>
			{% endif %}
			{% if blog_author.linkedin %}
			<a href="{{ blog_author.linkedin }}" target="_blank">
				{% icon name="linkedin-in" style="SOLID" width="10" %}
			</a>
			{% endif %}
			{% if blog_author.twitter %}
			<a href="{{ blog_author.twitter }}" target="_blank">
				{% icon name="twitter" style="SOLID" width="10" %}
			</a>
			{% endif %}
		</div>
		{% endif %}
	</div>
</div>
{% else %}

{% endif %}
{% if current_page_num == 1 %}
<section class="bg-[#192B3F] py-[100px] relative" style="background-image: url('{{get_asset_url('./../images/bg-texture-blue.png')}}');background-size:contain; background-position:bottom center; background-repeat:no-repeat">
  <div class="container relative">
    <div class="absolute right-0 -bottom-[100px]">
      <img class="w-[131px]" src="https://8787210.fs1.hubspotusercontent-na1.net/hubfs/8787210/texture-teal.png" alt="">
    </div>
    {% set featured_posts = blog_recent_tag_posts(group.id,'Featured', 1) %}
    {% for feature_post in featured_posts %}

    <div class="flex items-stretch flex-wrap rounded-xl overflow-hidden justify-center relative z-10">

      <div class="w-full lg:w-3/5">
        <a href="{{ feature_post.absolute_url}}"  title="">
          <img class="w-full h-full object-cover" src="{{ feature_post.featured_image }}" alt="{{ feature_post.name }} graphic" />
        </a>
      </div>

      <div class="w-full lg:w-2/5 bg-[#a2d2d5]">
        <div class="p-6">
        <div class="flex items-center mb-6">
          <div class="rounded-full w-[60px] h-[60px]  border-[5px] border-white block">
            <img class="rounded-full" src="{{ feature_post.blog_post_author.avatar }}" alt="{{ feature_post.blog_post_author.display_name }}">
          </div>
          <div class="px-3">
            <div class="text-[14px] font-bold text-[#173A53]">Written by {{ feature_post.blog_post_author.display_name }}</div>
            <div class="text-[14px] font-bold text-[#173A53]">{{ feature_post.publish_date_local_time.strftime('%b %d, %Y') }}</div>
          </div>
        </div>
        <h1 class="text-[46px] leading-[50px] mb-6"><a class="no-underline text-[#132c41] hover:text-[#132c41] hover:no-underline leading-none" href="{{ feature_post.absolute_url}}">{{ feature_post.name }}</a></h1>
        <div class="border-t border-black py-3">

            <div class="">

              {% set taglist = feature_post.tag_list %}

              {% for tag in taglist %}
              {% if !(tag == 'Featured' || tag == 'Type - Whitepaper' || tag == 'Type - Video' || tag == 'Type - Infographic') %}
              {% set tag_class = tag|replace(" ","-") %}
                <span class=" font-bold text-[#173A53] text-[18px]">{{tag}}</span>
              {% endif %}
              {% endfor %}

            </div>
          <div class="types">
            {% set taglist = feature_post.tag_list %}

              {% for tag in taglist %}
              {% if !(tag == 'Featured') && (tag == 'Type - Whitepaper') || (tag == 'Type - Video') || (tag == 'Type - Infographic') %}
              {% set tag_class = tag|replace('Type - ','') %}
              {% set tag = tag|replace('Type - ','') %}
              <span class="type-{{tag_class}}">{{tag}}</span>
              {% endif %}
              {% endfor %}
          </div>
        </div>
      </div>

  {% endfor %}
      </div>
    </div>
</div>
</section>
{% endif %}
<section class="bg-[#FFFBF5] py-[100px]" id="blog-grid">
  <div class="container">
    <div class="flex flex-wrap -mx-3">
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <div class="mb-4">

          <p class="font-bold m-0">Filter by Topic:</p>
        </div>
        <a class="text-[#173A53] no-underline inline-block md:block hover:no-underline hover:text-[#173A53]] mr-1 md:mr-0" href="{{ group.absolute_url }}#blog-grid">
          <div class="flex md:h-[57px] items-center {% if !tag %} bg-[#57A7B9]  {% else %} bg-[#FFF4E3]{% endif %} mb-3 rounded-lg">
            <div class="flex items-center h-full">
              <div class="h-full hidden md:block">
                <div class="w-[15px] h-[15px] md:h-full rounded-full " style="background-color: {{ ct_color }}"></div>
              </div>

              <div class="px-3">
                  <p class="m-0 font-bold leading-tight text-[16px] {% if !tag %} text-white {% endif %}">All</p>
              </div>
            </div>

          </div>
        </a>
        {% for item in blog_tags %}
          {% set is_active = item|replace(" ","-")|lower == current_tag %}
          {% if (item != 'Featured') && (item != 'Type - Whitepaper') && (item != 'Type - Video') && (item != 'Type - Infographic') %}
            <a class="text-[#173A53] no-underline inline-block md:block hover:no-underline mr-1 md:mr-0" href="{{ blog_tag_url(group.id, item.slug) }}#blog-grid">
              {{ct_label(item,"#36b2e7", is_active)}}
            </a>
          {% endif %}
        {% endfor %}
      </div>
      <div class="w-full md:w-3/4 px-3">
        <div class="flex flex-wrap justify-center md:justify-start items-stretch -mx-3">
        {% for content in contents %}
          <div class="w-full sm:w-1/2 lg:w-1/3 mb-6 px-3">
            <div class="rounded-xl overflow-hidden h-full bg-white shadow-lg relative group blog-card">
              <a class="absolute w-full h-full inset-0 z-10 cursor-pointer" href=" {{ content.absolute_url }}"></a>
              <div class="h-[185px]">
                {% if content.featured_image %}
                <img class="w-full h-full object-cover" src="{{ content.featured_image }}" alt="{{content.name}} thumbnail">
                {% else %}
                <div class="w-full h-full bg-slate-100"></div>
                {% endif %}
              </div>

              <div class="px-6 pt-[80px] pb-[50px] relative">
                <div class="absolute w-full left-0 right-0 -top-[40px] text-center">
                  <div class="rounded-full w-[60px] h-[60px] mx-auto border-[5px] border-white block">
                    <img class="rounded-full" src="{{ content.blog_post_author.avatar }}" alt="{{ content.blog_post_author.display_name }}">
                  </div>
                  <div class="text-[14px] font-bold text-[#173A53]">Written by {{ content.blog_post_author.display_name }}</div>
                  <div class="text-[14px] font-bold text-[#173A53]">{{ content.publish_date_local_time.strftime('%b %d, %Y') }}</div>
                </div>
                <div class="mb-12">
                  <p class="m-0 cursor-pointer text-[#173A53] no-underline font-bold block leading-snug text-[24px] max-lines max-lines-3">{{content.name}}</p>
                </div>

              </div>

              {% set taglist = content.tag_list %}
              {% set tag_wrapper_class = content.tag_list[0]|replace(" ","-") %}

             {% if tag_wrapper_class %}

              <div class="absolute w-full bottom-0 left-0 right-0 px-6 category-wrapper category-wrapper-{{tag_wrapper_class}}">

                <div class="text-[14px] border-t border-black py-1 group-hover:border-transparent">
                  {% for tag in taglist %}
                  {% if (tag != 'Featured') && (tag != 'Type - Whitepaper') && (tag != 'Type - Video') && (tag != 'Type - Infographic') %}
                  {% set tag_class = tag|replace(" ","-") %}
                  <div class="categories flex items-center">

                    <div class="w-[16px] h-[16px] border rounded-full border-[#FFF4E3] category-{{tag_class}} ">

                    </div>
                    <span class="px-3 font-bold text-[#173A53] text-[16px]">{{tag}}</span>

                  </div>
                  {% endif %}
                  {% endfor %}
                  <!-- <div class="types hidden">
                  {% set taglist = content.tag_list %}

                    {% for tag in taglist %}
                    {% if !(tag == 'Featured') && (tag == 'Type - Whitepaper') || (tag == 'Type - Video') || (tag == 'Type - Infographic') %}
                    {% set tag_class = tag|replace('Type - ','') %}
                    {% set tag = tag|replace('Type - ','') %}
                    <span class="type-{{tag_class}}">{{tag}}</span>
                    {% endif %}
                    {% endfor %}
                  </div> -->
                </div>

              </div>
              {% endif %}

            </div>
          </div>
          {% endfor %}
        </div>
        {% if contents.total_page_count > 1 %}
        <div class="blog-pagination">
          {% set page_list = [-2, -1, 0, 1, 2] %}
          {% if contents.total_page_count - current_page_num == 1 %}{% set offset = -1 %}
          {% elif contents.total_page_count - current_page_num == 0 %}{% set offset = -2 %}
          {% elif current_page_num == 2 %}{% set offset = 1 %}
          {% elif current_page_num == 1 %}{% set offset = 2 %}
          {% else %}{% set offset = 0 %}{% endif %}

          <a class="blog-pagination__link blog-pagination__prev-link {{ "blog-pagination__prev-link--disabled" if !last_page_num }}"{% if !last_page_num %} {% else %} href="{{ blog_page_link(last_page_num) }}" {% endif %}>
            {% icon name="chevron-left" style="SOLID", width="13", no_wrapper=True %}
            Prev
          </a>
          {% for page in page_list %}
          {% set this_page = current_page_num + page + offset %}
          {% if this_page > 0 and this_page <= contents.total_page_count %}
          <a class="blog-pagination__link blog-pagination__number-link {{ "blog-pagination__link--active" if this_page == current_page_num }}" href="{{ blog_page_link(this_page) }}">{{ this_page }}</a>
          {% endif %}
          {% endfor %}
          <a class="blog-pagination__link blog-pagination__next-link {{ "blog-pagination__next-link--disabled" if !next_page_num }}" {% if !next_page_num %} {% else %}  href="{{ blog_page_link(current_page_num + 1) }}" {% endif %}>
            Next
            {% icon name="chevron-right" style="SOLID", width="13", no_wrapper=True %}
          </a>
        </div>

        {% endif %}

      </div>
    </div>
  </div>
</section>


{% endblock body %}
