{# Module Styling #}
{% require_css %}
<style>
  {% scope_css %}

  {% if module.styles.heading.text.color.color %}
  .section-heading__heading,
  .section-heading__heading h1, 
  .section-heading__heading h2,
  .section-heading__heading h3,
  .section-heading__heading h4,
  .section-heading__heading h5,
  .section-heading__heading h6,
  .section-heading__heading p,
  .section-heading__heading div {
    color: {{ module.styles.heading.text.color.color }};
  }
  {% endif %}

  {% end_scope_css %}
</style>
{% end_require_css %}

{# Section Heading #}
<div class="{% if module.styles.alignment.alignment %}text-{{ module.styles.alignment.alignment.text_align|lower }}{% endif %}">
  {% if module.eyebrow_text %}
  {# Eyebrow Text #}
  <div class="inline-block uppercase font-bold text-[16px] {% if module.styles.eyebrow_text.text.color.color %}text-[{{ module.styles.eyebrow_text.text.color.color }}]{% else %}text-[#2A7991]{% endif %} tracking-[.004em]">{{ module.eyebrow_text }}</div>
  {% if module.styles.eyebrow_text.text.has_underline %}
  {# Eyebrow Text - Underline #}
  <div class="border-b-[1px] border-solid border-[#EEE7E4] max-w-[450px]{% if module.styles.alignment.alignment.text_align == "CENTER" %} mx-auto{% endif %}"></div>
  {% endif %}
  {% endif %}
  {% if module.heading %}
  {# Heading #}
  <div class="section-heading__heading mt-[10px]{% if module.styles.heading.text.is_homepage %} font-medium{% endif %}">{{ module.heading }}</div>
  {% endif %}
</div>