/* Override body overflow that's preventing sticky content */
body { overflow-x: initial; }

/* Sticky Scroller */
.sticky-scroller__tab.is-selected {
  border-color: #DA5039;
}

.sticky-scroller__image.is-hidden {
  display: none;
}