{# Module Styling #}
{% require_css %}
<style>
  {% scope_css %}

  {% if module.styles.background.color.color %}
  .wave-separator {
    background-color: {{ module.styles.background.color.color }};
  }
  {% endif %}

  {% if module.styles.fill.color.color %}
  .wave-separator svg {
    fill: {{ module.styles.fill.color.color }};
  }
  {% endif %}

  {% end_scope_css %}
</style>
{% end_require_css %}

{# Wave Separator #}
<div class="wave-separator translate-y-px -mt-[1px]">
  <svg class="w-screen h-auto translate-y-px -mt-[1px]" width="1439" height="106" viewBox="0 0 1439 106" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1205 70C795.429 144.091 409.917 -46.7931 0 11.9802V106H1439V11.9802C1366.06 39.0214 1286.04 55.3384 1205 70Z"/>
  </svg>
</div>