.hs-video-widget {
  @apply rounded-xl overflow-hidden;
}

.alt-dash-list {
  @apply list-none;
  li {
    @apply relative pl-10 mb-2;
  }

 
  li::before {
    content: "";
    @apply rounded-full absolute left-0 top-[12px] bottom-0;
    width: 20px;
    height: 6px;
    margin-inline-end: 1ch;
    display: inline-block;
    margin-bottom: 3px;
  }

  &.blue {
    li::before {
      @apply bg-[#67ACBD]; 
    }

    li:nth-child(even)::before {
      @apply bg-[#9CD4D6];
    }
  }

  &.green {
    li::before {
      @apply bg-[#469C6C]; 
    }

    li:nth-child(even)::before {
      @apply bg-[#84CFA4];
    }
  }

  
}

.widget-type-form {
  @apply bg-[#FFF4E3] rounded-xl;

  .form-title {
    @apply pt-6 m-0;
  }

  form {
    @apply m-0;
  }
}

.body-container--demo {
  .widget-type-form {
    @apply bg-[#192B3F] rounded-xl;
  
    .form-title {
      @apply p-[40px] pb-0 m-0 -mb-3 text-[#FCFDFE];
    }
  
    form {
      @apply m-0;
    }
  }
}

#hs-eu-cookie-confirmation {
    width: 95% !important;

    @media (max-width: 418px) {
      width: 100% !important;
    }
}

#hs-eu-cookie-confirmation, #hs-eu-cookie-confirmation > * :focus, #hs-categories-container > * :focus {
  outline: 0;
}


#hs-eu-cookie-confirmation-inner {
  display: flex;
  flex-direction: row;

  @media (max-width: 1023px) {
    flex-direction: column;
  }
}

#hs-eu-policy-wording, #hs-eu-cookie-disclaimer, #hs-eu-cookie-confirmation-buttons-area {
  flex-grow: 1;
  flex-basis: 0;
}

#hs-eu-policy-wording p {
  margin-bottom: 0;
}

#hs-eu-cookie-confirmation-buttons-area {
  margin-top: 0;
}

.dnd-column {
  border-radius: 12px;
}

/* Demo Template (New Styling) */

.body-container--demo {
  @apply bg-[#FCFDFE]; 
}