<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
<!doctype html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>
  <head>
    <meta charset="utf-8">
    <title>{{ page_meta.html_title }}</title>
    {% if site_settings.favicon_src %}<link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %}
    <meta name="description" content="{{ page_meta.meta_description }}">
    {{ require_css(get_asset_url("../css/styles.css")) }}
    {{ require_css(get_asset_url("../css/main.css")) }}
    {{ require_css(get_asset_url("../css/theme-overrides.css")) }}
    {{ require_css(get_asset_url('../css/fonts.css')) }}
    {# where possible, improve page performance and speed by combining external http requests to reduce your
      overall number of calls -- here, you can use a single call to the gFonts api to get all the fonts you need
      https://developers.google.com/fonts/docs/getting_started
    #}
    {# Include Theme Overrides #}
    {{ require_js(get_asset_url("../js/main.js")) }}
    {{ standard_header_includes }}
    {# <script src="https://kit.fontawesome.com/d9fd4c4862.js" crossorigin="anonymous"></script> #}
  </head>
  <body class="">
    <div class="body-wrapper {{ builtin_body_classes }}">
      {% block header %}
        {% global_partial path="../partials/header-landing.html" %}
      {% endblock header %}

      {% block body %}
        <!-- Nothing to see here -->
      {% endblock body %}

      {% block footer %}
         {% global_partial path="../partials/footer.html" %}
      {% endblock footer%}
    </div>
    {{ standard_footer_includes }}
    <script>
      window.addEventListener('load', function(){
        const links = document.querySelectorAll('a');
        links.forEach((link) => {
          //don't change mailto or tel links
          if(link.href && link.href.indexOf('tel') == -1 && link.href.indexOf('mailto') == -1 && link.href.indexOf('#') == -1) {
            
             const url = new URL(link.href);
            for (let [k,v] of new URLSearchParams(window.location.search).entries()){
              url.searchParams.set(k,v)
            }
            link.href = url.toString();
          }
        });
      });
    </script>
  </body>
</html>
